@import "tailwindcss";

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaThin.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaRegular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaMedium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaSemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lufga', sans-serif;
}
